@media screen and (min-width: 980px) { /*ウィンドウ幅が767px以上の場合に適用*/
/* BODY */
BODY {
	MARGIN					: 0		;
	PADDING					: 0		;
	HEIGHT					:	100%;
	/*font-family			: "M PLUS Rounded 1c";*/
	font-family			: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
HTML {
  MARGIN					: 0		;
  PADDING					: 0		;
	HEIGHT					:	100%;
}
header{
}
main{
}
footer{
}
#page_header {
	background			: url(./images/firstview.gif) center / cover;
	position				: relative;
	height					: 100vh;
}
#top-logo {
	position				: absolute;
	width						: 100px;
	left						: 3%;
	top							:	3%;
	margin					:	0 auto 0 auto;
}
#page_header_menu {
	padding-top			: 0.75% ;
	padding-right		: 2% ;
	right						: 0;
	/*position: fixed;*/
}
#page_header_nav_list {
	display					: flex;
	justify-content	: flex-end;
	list-style			: none;
}
#page_header_nav_list li{
	width						: 4.5%;
	padding-right		:	1%;
	font-size				: 1.0vw;
	display					: inline-block;
}
#page_header_nav_list li a{
	color						: #000000;
}
#center-title{
	padding-top:20vh;
}
#center-title2{
	padding-top:5vh;
}
#center-title3{
	padding-top:12.5vh;
}
.center-title4{
	padding-top:2.5vh;
}
#center-title5{
	background-color:#000000;
}
.l_parent{
  margin-top			:-5vh ;
  width: 100%;
	height: auto;
}
.l_child{
  border:solid 1px #000000;
  width: 150px;
	text-align: center;
  padding: 0.5%;
	margin: 0 auto;
	margin-top:100px;
}
.r_parent{
  width: 100%;
  height: auto;
	background-color:  #000000;    /* 背景色指定 */
}
.r_child{
  border:solid 1px #FFFFFF;
	color:#FFFFFF;
  width: 150px;
	text-align: center;
  padding: 0.5%;
	margin: 0 auto;
}
.r2_parent{
  width: 100%;
  height: auto;
}
.r2_child{
  border:solid 1px #FFFFFF;
	color:#FFFFFF;
  width: 150px;
	text-align: center;
	padding: 0.5%;
 	margin: 0 auto;
}
.inline-parent {
  text-align: center;         /* 子要素を左右中央揃えにする */
}
.inline-block{
  display: inline-block;      /* インラインブロック要素にする */
	font-size: 500%;
	color: #a0a0a0;
 	margin-top:5%;
 	margin-left:10%;
 	margin-right:10%;
}
.inline-parent2 {
  text-align: center;         /* 子要素を左右中央揃えにする */
}
.inline-block2{
  display: inline-block;      /* インラインブロック要素にする */
	font-size: 100%;
 	margin-left:8%;
 	margin-right:8%;
}
.inline-block3{
  display: inline-block;      /* インラインブロック要素にする */
	font-size: 400%;
 	color: #a0a0a0;
 	margin-top:5%;
}
.inline-parent4 {
	margin-top:3%;
  text-align: center;         /* 子要素を左右中央揃えにする */
	font-size				: 1.25vw;
}
.inline-block4{
    display: inline-block;      /* インラインブロック要素にする */
 font-size: 100%;
 margin-left:1%;
 margin-right:1%;
 text-align: left
}

.corpinfo{
background-color:  #000000;    /* 背景色指定 */
 color: #FFFFFF;

}
#Topmessage1{
 color: #FFFFFF;
 padding-left:2.5%;
 font-size: 10vw;

}
#Topmessage2{
 color: #FFFFFF;
 padding-left:2.5%;
 font-size: 7vw;

}
div.Top p {
   margin-top:-3vw ;
   margin-bottom:0px ;
 padding-left:2%;
 font-size: 12vw;
 color: #FFFFFF;
}
div.Top2 p {
   margin-top:-7vh ;
   margin-bottom:0px ;
 padding-left:3.25%;
 font-size: 7.6vw;
 color: #FFFFFF;
}
div.Top3 p {
   margin-top:40vh ;
 font-size: 1vw;
 color: #FFFFFF;
 text-align: center;
}
/*弊社について*/
div.Top4 p {
  margin-top			:25vh ;
	font-size				: 1vw;
 	text-align			: center;
}
div.Top5 p {
  margin-top			:5vh ;
	font-size				: 1vw;
 	text-align			: center;
}
#testblock{
max-width: 100%;
background-color:  #000000;    /* 背景色指定 */
}

.inline-block_test {
display: inline-block;      /* インラインブロック要素にする */
/*width: 24vw; */
margin-left:  -2px;             /* 余白指定 */
margin-right:  -2px;             /* 余白指定 */
margin-bottom:  -2px;             /* 余白指定 */
background-color:  #000000;    /* 背景色指定 */
padding-top: 33.333%;  /* 1/4×100https://note.com/ikamasu/n/n06e3056498bb   */
width: 33.333%;
position: relative;
}

#divimg{
	  max-width: 100%; /*必ず指定*/
		  height: 80%; /*必ず指定*/
width: 100%;
					 position: absolute;
					   top: 0;
						   left: 0;
background-color:  #000000;    /* 背景色指定 */
}
#testblock2{
max-width: 100%;
background-color:  #000000;    /* 背景色指定 */
}

.inline-block_test2 {
display: inline-block;      /* インラインブロック要素にする */
/*width: 24vw; */
margin:  -2px;             /* 余白指定 */
padding-top: 33.333%;  /* 1/4×100https://note.com/ikamasu/n/n06e3056498bb   */
width: 33.333%;
position: relative;
							 margin-bottom:-12.5%;
}

#divimg2{
margin-top:-20%;
	  max-width: 100%; /*必ず指定*/
		  height: 80%; /*必ず指定*/
width: 100%;
					 position: absolute;
					   top: 0;
						   left: 0;
}
.corpinfo {
	background			: url(./images/omotesando.png) center / cover;
}
#page_footer{
width: 100%;
		    color: #fff;
				    text-align: center;
										    bottom: 0; /*下に固定*/
 font-size: 60%;
padding-top:2.5vh;
	background-color:#000000;
}
#tel{
	color						:	#FFFFFF;
  text-decoration	:	none;
}
